{:indents {when-chrome [[:inner 0]]
           when-edge [[:inner 0]]
           when-firefox [[:inner 0]]
           when-headless [[:inner 0]]
           when-not-chrome [[:inner 0]]
           when-not-drivers [[:inner 0]]
           when-not-edge [[:inner 0]]
           when-not-firefox [[:inner 0]]
           when-not-headless [[:inner 0]]
           when-not-phantom [[:inner 0]]
           when-not-predicate [[:inner 0]]
           when-not-safari [[:inner 0]]
           when-phantom [[:inner 0]]
           when-predicate [[:inner 0]]
           when-safari [[:inner 0]]
           try+ [[:block 0]]}}
