/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store

gh-pages
node_modules
package-lock.json
TAGS
*.iml
build.xml
/.idea

# ignore cache under .clj-kondo and .lsp
.cache
# VSCode Calva extension
/.calva
# Clojure tools cli classpath cache
/.cpcache
