/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.DS_Store

gh-pages
node_modules
package-lock.json
TAGS
*.iml
build.xml
/.idea
/.eastwood

# ignore cache under .clj-kondo and .lsp
.cache
# VSCode Calva extension
/.calva
# Clojure tools cli classpath cache
/.cpcache
# clj-kondo will copy our own exported config under resources to ./clj-kondo,
# we don't need this duplicate.
/.clj-kondo/etaoin

# ignore lee's fiddling
/fiddle.clj
/fiddle/
/.cljdoc-preview
/.vscode
