{:min-bb-version "0.8.2"
 :paths ["script" "build"]
 :deps {doric/doric {:mvn/version "0.9.0"}
        org.clj-commons/pretty {:mvn/version "3.0.0"}
        lread/status-line {:git/url "https://github.com/lread/status-line.git"
                           :sha "cf44c15f30ea3867227fa61ceb823e5e942c707f"}
        dev.nubank/docopt {:mvn/version "0.6.1-fix7"}
        org.babashka/http-server {:mvn/version "0.1.12"}
        wevre/natural-compare {:mvn/version "0.0.10"}}
 :tasks
 {;; setup
  :requires ([babashka.classpath :as cp]
             [babashka.cli :as cli]
             [babashka.fs :as fs]
             [clojure.string :as string]
             [helper.shell :as shell]
             [lread.status-line :as status])
  :init (do (defn parse-repl-args [args]
              (let [cli-spec {:spec
                              {:host {:desc "Bind to host (use 0.0.0.0 to allow anyone to connect)"
                                      :alias :h
                                      :default "localhost"}}
                              :restrict true}]
                (cli/parse-opts args cli-spec))))
  :enter (let [{:keys [name task-decoration] :as f} (current-task)]
           (when-not (= :none task-decoration)
             (status/line :head "TASK %s" name)))
  :leave (let [{:keys [name task-decoration] :as f} (current-task)]
           (when-not (= :none task-decoration)
             (status/line :detail "\nTASK %s done." name)))
  ;; commands
  dev:jvm        {:doc "start a Clojure nrepl server/prompt"
                  :task (let [opts (parse-repl-args *command-line-args*)
                              host (:host opts)]
                          (shell/command "clj" "-M:test:repl/cider" "-h" host "-b" host))}
  dev:bb         {:doc "start a Babashka nrepl server"
                  ;; repeat :test paths from deps.edn
                  :extra-paths ["test" "env/test/resources"]
                  :extra-deps  {;; inherit base deps from deps.edn
                                etaoin/etaoin {:local/root "."}
                                ;; repeat necessary :test deps from deps.edn
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :task (let [opts (parse-repl-args *command-line-args*)]
                          (babashka.nrepl.server/start-server! opts)
                          (deref (promise)))}
  test:jvm       {:doc "Runs tests under JVM Clojure [--help]"
                  :task test/test-jvm}
  -test:bb       {:doc "bb test runner, invoked within script/test.clj"
                  :task-decoration :none
                  :requires ([taoensso.timbre :as timbre])
                  ;; repeat :test paths from deps.edn
                  :extra-paths ["test" "env/test/resources"]
                  :extra-deps  {;; inherit base deps from deps.edn
                                etaoin/etaoin ({:local/root "."})
                                ;; repeat necessary :test deps from deps.edn
                                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :task (do
                          ;; timbre default logging level is debug, which generates a lot of http logging noise
                          (timbre/set-level! :info)
                          (exec 'build-shared/test))
                  :org.babashka/cli {:coerce {:nses [:symbol]
                                              :patterns [:string]
                                              :vars [:symbol]}}}
  test-server    {:doc "Static server to support tests (automatically lanched by tests that need it)"
                  :task test-server/-main}
  test:bb        {:doc "Runs tests under Babashka [--help]"
                  :task test/test-bb}
  test-doc       {:doc "test code blocks in user guide"
                  :task test-doc/test-doc}
  test-matrix    {:doc "Returns a test matrix for CI [--help]"
                  :task test-matrix/-main}
  drivers        {:doc "[list|kill] any running WebDrivers"
                  :task drivers/-main}
  ps             {:doc "List processes with matching names (handy for debugging)"
                  :requires ([helper.ps :as ps]
                             [doric.core :as doric]
                             [clojure.string :as str])
                  :task (let [pattern (re-pattern (str/join "|" *command-line-args*))]
                          (->> (ps/all-processes)
                               (filterv (fn [p] (re-find pattern (:command p))))
                               (doric/table [:pid :start-instant :is-alive :command :arguments])
                               println))}
  lint-kondo     {:doc "[--rebuild] lint source code with clj-kondo"
                  :task lint/-main}
  lint-eastwood  {:doc "Run Eastwood linter on source code"
                  :task (shell/clojure "-M:eastwood")}
  lint           {:doc "Run all linters"
                  :depends [lint-kondo lint-eastwood]}
  cljdoc-preview {:doc "preview what docs will look like on cljdoc, use --help for args"
                  :task cljdoc-preview/-main}
  tools-versions {:doc "report on tools versions"
                  :task tools-versions/-main}
  download-deps  {:doc "download all deps (useful for CI prep)"
                  :task (clojure "-T:build download-deps")}
  outdated       {:doc "report on outdated dependencies"
                  :task (shell/clojure {:continue true} "-M:outdated")}

  docker-build   {:doc "build etaoin docker image"
                  :task (shell/command "docker build --no-cache -t etaoin:latest .")}
  -docker-install {:doc "helper to setup docker image"
                   :task-decoration :none
                   :task docker-install/-main}
  docker-run     {:doc "run etaoin docker image (specify no commmands for interactive)"
                  :task (let [{:keys [exit]} (apply shell/command {:continue true}
                                                    "docker run -it --rm --shm-size=1gb"
                                                    (str "-v" (fs/cwd) ":/etaoin")
                                                    "etaoin:latest"
                                                    *command-line-args*)]
                          (System/exit exit))}
  fake-driver {:doc "Fake driver to support testing"
               :task-decoration :none
               :task fake-driver/-main}
  ci-release     {:doc "release tasks, use --help for args"
                  :task ci-release/-main}}}
