{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"} ;; min clojure version
        babashka/fs {:mvn/version "0.3.17"}
        babashka/process {:mvn/version "0.4.16"}
        clj-http/clj-http {:mvn/version "3.12.3"} ;; for jvm use
        org.clj-commons/clj-http-lite {:mvn/version "1.0.13"} ;; for babashka use
        slingshot/slingshot {:mvn/version "0.12.2"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        org.clojure/tools.cli {:mvn/version "1.0.214"}
        org.clojure/tools.logging {:mvn/version "1.2.4"}}
 :aliases
 {:1.11 {:replace-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
  :debug {:extra-paths ["env/dev/resources"]}
  :test {:extra-paths ["test" "env/test/resources"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}
                      org.babashka/cli {:mvn/version "0.6.50"}
                      ch.qos.logback/logback-classic {:mvn/version "1.4.6"}
                      ;; for http-client which uses apache http client 4.x which uses commons logging
                      org.slf4j/jcl-over-slf4j {:mvn/version "2.0.7"}}
         :exec-fn cognitect.test-runner.api/test
         :org.babashka/cli {:coerce {:nses [:symbol]
                                     :patterns [:string]
                                     :vars [:symbol]}}
         :main-opts ["-m" "babashka.cli.exec"]}
  :script {:extra-paths ["script"]}

  ;; test-doc-blocks - gen tests
  :test-doc-blocks {:replace-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                   com.github.lread/test-doc-blocks  {:mvn/version "1.0.166-alpha"}}
                    :replace-paths []
                    :ns-default lread.test-doc-blocks
                    :exec-args {:docs ["doc/01-user-guide.adoc"]}}

  ;; test-doc-blocks - run tests
  ;; usage: test:test-docs
  :test-docs {:override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}
              :extra-paths ["target/test-doc-blocks/test"]
              :exec-fn cognitect.test-runner.api/test
              :exec-args {:dirs ["target/test-doc-blocks/test"]}
              :org.babashka/cli {:coerce {:nses [:symbol]
                                          :patterns [:string]
                                          :vars [:symbol]}}
              :main-opts ["-m" "babashka.cli.exec"]}

  ;; for consistent linting we use a specific version of clj-kondo through the jvm
  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2023.03.17"}}
              :main-opts ["-m" "clj-kondo.main"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}

  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version  "2.3.1043"}
                          org.clojure/clojure {:mvn/version "1.11.1"}
                          org.slf4j/slf4j-simple {:mvn/version "2.0.7"} ;; to rid ourselves of logger warnings
                          }
             :main-opts ["-m" "antq.core"]}

  :repl/cider
  {:extra-deps {nrepl/nrepl                {:mvn/version "1.0.0"}
                cider/cider-nrepl          {:mvn/version "0.30.0"}
                refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
   :jvm-opts ["-XX:-OmitStackTraceInFastThrow"]
   :main-opts  ["-m" "nrepl.cmdline"
                "--middleware" "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"
                "-i"]}}}
