{:config-paths ^:replace ;; don't adopt any user preferences
 ["../resources/clj-kondo.exports/etaoin/etaoin"] ;; include our exported public config
 :cljc {:features [:clj]} ;; our bb reader conditionals might make some tools also assume cljs, state otherwise
 :hooks
 ;; for internal stuff, I'm fine with using macroexpand, our external config uses analyze-call for
 ;; finer grained error reporting
 {:macroexpand
  {etaoin.impl.util/defmethods etaoin.impl.util/defmethods
   etaoin.impl.util/with-tmp-file etaoin.impl.util/with-tmp-file}}

 :linters
 ;; etaoin is dsl-ish and does make use of :refer :all, can decide if we like that at some later date
 {:refer-all {:level :off}}}
