{:lint-as {lread.status-line/line clojure.tools.logging/infof
           lread.status-line/die clojure.tools.logging/infof}
 :config-in-call {lread.status-line/line {:ignore [:redundant-format]}
                  lread.status-line/die {:ignore [:redundant-format]}}}
